<h1>Adresses#edit_with_manual_address_entry</h1>
<p>Find me in app/views/adresses/edit_with_manual_address_entry.html.erb</p>

<form>
  <label for="street">Street </label>
  <input type="text" name="street"/>
  <br>
  <label for="city">City </label>
  <input type="text" name="city"/>
  <br>
  ...
</form>
