<h1>Adresses#edit_with_address_select</h1>
<p>Find me in app/views/adresses/edit_with_address_select.html.erb</p>

<form>
<select name='address'>
  <option selected=true>select...</option>
  <option>address 1</option>
  <option>address 2</option>
  <option>address 3</option>
  <option>address 4</option>
</select>
<submit>Submit</submit>
</form>
